    body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        nav {
            background-color: #2c3e50;
            width: 100%;
            padding: 10px 0;
            text-align: center;
        }

        nav a {
            display: inline-block;
            color: #ecf0f1;
            text-decoration: none;
            padding: 12px 20px;
            margin: 0 10px;
            font-size: 1em;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
        }

        nav a:hover {
            background-color: #ecf0f1;
            color: #2c3e50;
        }