        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }

        .container {
            width: 100%;
            text-align: left;
        }

        .sidebar, .main-content, .advertisement {
            display: inline-block;
            vertical-align: top;
            padding: 15px;
            border: 2px solid #2c3e50;
            box-sizing: border-box;
        }

        .sidebar {
            width: 20%;
            background-color: #dfe6e9;
            margin-right: 1%;
        }

        .main-content {
            width: 58%;
            background-color: #ffffff;
            margin-right: 1%;
        }

        .advertisement {
            width: 20%;
            background-color: #ffeaa7;
        }

        h2 {
            margin-top: 0;
        }

        p {
            line-height: 1.5;
        }